@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Noto+Serif:wght@700&display=swap')

@import './base/reset'
@import './components/_header'
@import './components/_footer'
@import './components/_legalNotice'
@import './components/_confidentiality'
@import './components/_modal'
@import './components/_admin'

/* MOBILE */
.main
    min-width: 360px
    min-height: 100vh
    margin-top: 25%