@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Noto+Serif:wght@700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  padding-top: 20px;
}
.navbar__burger {
  width: 35px;
  height: 25px;
  position: relative;
  cursor: pointer;
}
.navbar__burger__line {
  position: absolute;
  background-color: #fff;
  width: 30px;
  height: 3px;
  border-radius: 5px;
}
.navbar__burger__line:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.navbar__burger__line:nth-child(2) {
  width: 35px;
  top: 50%;
  transform: translateY(-50%);
}
.navbar__burger__line:last-child {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.navbar__burger__line.clicked:nth-child(1) {
  top: 11px;
  left: 0;
  transform: rotate(45deg);
  transition: ease-out 0.5s;
}
.navbar__burger__line.clicked:nth-child(2) {
  transform: scale(0);
  transition: ease-out 0.5s;
}
.navbar__burger__line.clicked:last-child {
  bottom: 11px;
  left: 0;
  transform: rotate(135deg);
  transition: ease-out 0.5s;
}
.navbar__burger__line.unclicked {
  transition: ease-out 0.5s;
}
.navbar__links {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  background: linear-gradient(90deg, #242627 0%, #3D4450 50.67%, #384E65 99.99%, #4E5862 100%);
  width: 100%;
  height: 301px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.navbar__links__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.navbar__links__link:hover > a, .navbar__links__link:hover > .navbar__links__link__icon {
  color: #f73746;
  transition: color ease-out 0.5s;
  cursor: pointer;
}
.navbar__links__link__icon, .navbar__links__link a {
  color: #fff;
}
.navbar__links__link .active {
  color: #f73746;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navbar__burger {
    display: none;
  }
  .navbar__links {
    height: 100%;
    z-index: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .navbar__links::before, .navbar__links::after {
    content: "";
    width: 10%;
    height: 1px;
    background-color: rgba(211, 211, 211, 0.5);
  }
}
@media screen and (min-width: 1024px) {
  .navbar__links {
    font-size: 1.125rem;
    gap: 32px;
  }
  .navbar__links::before, .navbar__links::after {
    width: 12%;
  }
}
@media screen and (min-width: 1920px) {
  .navbar__links {
    font-size: 1.25rem;
    gap: 56px;
  }
  .navbar__links::before, .navbar__links::after {
    width: 17%;
  }
}
.header-title {
  position: fixed;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
}
.header-title h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Noto Serif", serif;
  color: #fff;
  padding-top: 45px;
  font-size: 2rem;
  text-align: center;
}
.header-title h1 span {
  font-size: 1.75rem;
  margin-left: 10px;
}
.header-title--right-bar, .header-title--left-bar, .header-title--disappear-bar {
  position: absolute;
  width: 60px;
  height: 40px;
  top: 75%;
}
.header-title--right-bar, .header-title--left-bar {
  opacity: 1;
}
.header-title--right-bar {
  right: calc(50% - 123px);
}
.header-title--left-bar {
  left: calc(50% - 123px);
}
.header-title--disappear-bar {
  opacity: 0;
}

.chessboard, .chessboard-disappear {
  position: absolute;
  left: 50%;
  bottom: -60px;
  transform: translateX(-50%);
  width: 292px;
}

.chessboard {
  opacity: 1;
  transition: opacity ease-in-out 0.5s 0.2s;
}

.chessboard-disappear {
  opacity: 0;
  transition: opacity ease-in-out 0.5s;
}

@media screen and (min-width: 768px) {
  .header-title {
    position: relative;
  }
  .header-title h1 {
    font-size: 2.25rem;
    padding-top: 35px;
  }
  .header-title h1 span {
    font-size: 1.875rem;
  }
  .header-title--right-bar, .header-title--left-bar {
    width: 72px;
    height: 60px;
    top: 65%;
  }
  .header-title--right-bar {
    right: calc(50% - 145px);
  }
  .header-title--left-bar {
    left: calc(50% - 145px);
  }
  .chessboard {
    bottom: -75px;
    width: 363px;
  }
}
@media screen and (min-width: 1024px) {
  .header-title h1 {
    font-size: 3rem;
    padding-top: 20px;
  }
  .header-title h1 span {
    font-size: 2.375rem;
  }
  .header-title--right-bar, .header-title--left-bar {
    width: 117px;
    height: 80px;
    top: 60%;
  }
  .header-title--right-bar {
    right: calc(50% - 205px);
  }
  .header-title--left-bar {
    left: calc(50% - 205px);
  }
  .chessboard {
    bottom: -100px;
    width: 501px;
  }
}
@media screen and (min-width: 1920px) {
  .header-title--right-bar, .header-title--left-bar {
    width: 150px;
    height: 100px;
  }
  .header-title--right-bar {
    right: calc(50% - 240px);
  }
  .header-title--left-bar {
    left: calc(50% - 240px);
  }
  .chessboard {
    bottom: -130px;
    width: 640px;
  }
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(90deg, #242627 0%, #3D4450 50.67%, #384E65 99.99%, #4E5862 100%);
}

.normal-size {
  height: 248px;
  transition: height ease-out 0.5s;
}

.resize {
  height: 140px;
  transition: height ease-out 0.5s;
}

@media screen and (min-width: 768px) {
  .header {
    height: 230px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    height: 388px;
  }
}
@media screen and (min-width: 1920px) {
  .header {
    height: 457px;
  }
}
/* FOOTER COPYRIGHT */
/* VERSION MOBILE */
.footer__copyright {
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: -20px;
}
.footer__copyright__icon {
  height: 12px;
}
.footer__copyright__text {
  font-size: 0.68rem;
  margin-left: 2px;
}

/* VERSION TABLETTE */
@media screen and (min-width: 768px) {
  .footer__copyright {
    width: 137px;
    margin-bottom: -70px;
  }
  .footer__copyright__icon {
    height: 15px;
  }
  .footer__copyright__text {
    font-size: 0.875rem;
  }
}
/* VERSION L */
@media screen and (min-width: 1024px) {
  .footer__copyright {
    width: 154px;
    margin-bottom: -90px;
  }
  .footer__copyright__icon {
    height: 18px;
  }
  .footer__copyright__text {
    font-size: 1rem;
  }
}
/* VERSION XL */
@media screen and (min-width: 1920px) {
  .footer__copyright {
    width: 200px;
    margin-bottom: -140px;
  }
  .footer__copyright__icon {
    height: 20px;
  }
  .footer__copyright__text {
    font-size: 1.25rem;
    margin-left: 4px;
  }
}
/* FOOTER LINKS */
/* VERSION MOBILE */
.footer__links {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: -110px;
}
.footer__links img {
  height: 30px;
  cursor: pointer;
}
.footer__links img:hover {
  opacity: 0.5;
}
.footer__links__ffe {
  width: 18px;
}
.footer__links__fide {
  width: 38px;
}

/* VERSION TABLETTE */
@media screen and (min-width: 768px) {
  .footer__links {
    position: relative;
    margin: 0;
    width: 210px;
  }
  .footer__links img {
    height: 35px;
  }
  .footer__links__ffe {
    width: 20px;
    margin-left: 0;
  }
  .footer__links__fide {
    width: 42px;
  }
}
/* VERSION L */
@media screen and (min-width: 1024px) {
  .footer__links {
    width: 300px;
  }
  .footer__links img {
    height: 40px;
  }
  .footer__links__ffe {
    width: 25px;
    margin-left: 0;
  }
  .footer__links__fide {
    width: 45px;
  }
}
/* VERSION XL */
@media screen and (min-width: 1920px) {
  .footer__links {
    width: 500px;
  }
  .footer__links img {
    height: 52px;
  }
  .footer__links__ffe {
    width: 35px;
    margin-left: 0;
  }
  .footer__links__fide {
    width: 65px;
  }
}
/* FOOTER NAV */
/* VERSION MOBILE */
.footer__nav {
  display: none;
}

/* VERSION TABLETTE */
@media screen and (min-width: 768px) {
  .footer__nav {
    display: block;
    width: 230px;
  }
  .footer__nav__title {
    display: none;
  }
  .footer__nav__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__nav__links a {
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;
    color: #fff;
    padding: 1px 0;
    font-size: 0.875rem;
    font-weight: bold;
    cursor: pointer;
  }
  .footer__nav__links a.active, .footer__nav__links a:hover {
    color: #f73746;
  }
}
/* VERSION L */
@media screen and (min-width: 1024px) {
  .footer__nav {
    width: 300px;
  }
  .footer__nav__links {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer__nav__links a {
    font-size: 1rem;
  }
}
/* VERSION XL */
@media screen and (min-width: 1920px) {
  .footer__nav {
    width: 500px;
    height: 100px;
  }
  .footer__nav__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-weight: bold;
    font-size: 1.375rem;
    text-decoration: underline;
  }
  .footer__nav a {
    font-size: 1.25rem;
  }
}
/* FOOTER RULES */
/* VERSION MOBILE */
.footer__rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__rules hr {
  border: 1px solid #fff;
  width: 70px;
}
.footer__rules__text {
  width: 98px;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__rules a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.footer__rules a:hover {
  color: #f73746;
}

/* VERSION TABLETTE */
@media screen and (min-width: 768px) {
  .footer__rules {
    margin: 0;
  }
  .footer__rules a {
    cursor: pointer;
  }
  .footer__rules a:hover {
    color: #f73746;
  }
}
/* VERSION L */
@media screen and (min-width: 1024px) {
  .footer__rules hr {
    width: 90px;
  }
  .footer__rules__text {
    width: 140px;
    font-size: 1rem;
  }
}
/* VERSION XL */
@media screen and (min-width: 1920px) {
  .footer__rules hr {
    width: 110px;
  }
  .footer__rules__text {
    width: 160px;
    font-size: 1.25rem;
  }
}
/* FOOTER SOCIALS */
/* VERSION MOBILE */
.footer__socials {
  width: 80px;
}
.footer__socials__text {
  font-size: 0.75rem;
  text-align: center;
}
.footer__socials hr {
  border: 1px solid #fff;
  width: 70px;
  margin-top: 7px;
}
.footer__socials__icons a {
  color: #fff;
  font-size: 1.125rem;
  margin-left: 7px;
}
.footer__socials__icons a:hover {
  color: #f73746;
}

/* VERSION TABLETTE */
@media screen and (min-width: 768px) {
  .footer__socials {
    margin: 0;
    width: 91px;
  }
  .footer__socials__text {
    font-size: 0.875rem;
  }
  .footer__socials__icons a {
    font-size: 1.375rem;
  }
}
/* VERSION L */
@media screen and (min-width: 1024px) {
  .footer__socials {
    width: 140px;
  }
  .footer__socials__text {
    font-size: 1.125rem;
  }
  .footer__socials hr {
    width: 90px;
  }
  .footer__socials__icons a {
    font-size: 1.75rem;
    margin-left: 12px;
  }
}
/* VERSION XL */
@media screen and (min-width: 1920px) {
  .footer__socials {
    width: 140px;
  }
  .footer__socials__text {
    font-size: 1.25rem;
  }
  .footer__socials hr {
    width: 110px;
  }
  .footer__socials__icons a {
    font-size: 2rem;
  }
}
/* FOOTER */
/* VERSION MOBILE */
.footer {
  background: linear-gradient(90deg, #242627 0%, #3D4450 50.67%, #384E65 99.99%, #4E5862 100%);
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  margin-top: 5vh;
  position: absolute;
  height: 170px;
  left: 0;
  width: 100%;
  min-width: 360px;
  z-index: -2;
}
.footer__center__left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 60px;
}
.footer__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__line__left {
  margin-left: 20px;
}
.footer__line__right {
  margin-right: 20px;
}
.footer .footer__line__left, .footer .footer__line__right {
  z-index: -1;
  width: 100px;
}

/* VERSION TABLETTE */
@media screen and (min-width: 768px) {
  .footer__center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 50px 0 50px;
  }
  .footer__center__left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    margin: 0;
  }
  .footer__bottom {
    margin-top: -85px;
  }
  .footer .footer__line__left, .footer .footer__line__right {
    width: 286px;
    height: 117px;
  }
}
/* VERSION L */
@media screen and (min-width: 1024px) {
  .footer {
    height: 200px;
  }
  .footer__center {
    margin: 60px 70px 0 70px;
  }
  .footer__center__left {
    width: 320px;
  }
  .footer__line__left {
    margin-left: 30px;
  }
  .footer__line__right {
    margin-right: 30px;
  }
  .footer .footer__line__left, .footer .footer__line__right {
    width: 390px;
    height: 160px;
  }
}
/* VERSION XL */
@media screen and (min-width: 1920px) {
  .footer {
    height: 250px;
  }
  .footer__center {
    margin: 70px 180px 0 180px;
  }
  .footer__center__left {
    width: 500px;
  }
  .footer__bottom {
    margin-top: -110px;
  }
  .footer__line__left {
    margin-left: 40px;
  }
  .footer__line__right {
    margin-right: 40px;
  }
  .footer .footer__line__left, .footer .footer__line__right {
    width: 650px;
  }
}
/* MENTION LEGALES */
.legal-notice {
  font-family: "Noto Sans", sans-serif;
  margin: 40px;
  font-size: 0.875rem;
}
.legal-notice a {
  text-decoration: none;
  color: #4e5862;
}
.legal-notice__header {
  text-align: center;
}
.legal-notice__header__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3d4450;
}
.legal-notice__header__subtitle {
  color: #242627;
}
.legal-notice__content {
  color: #242627;
}
.legal-notice__content__intro {
  margin-top: 30px;
}
.legal-notice__content__intro p {
  margin-top: 10px;
}
.legal-notice__content__article__title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #4e5862;
  margin-top: 30px;
  margin-bottom: 10px;
}
.legal-notice__footer {
  text-align: end;
  margin-top: 30px;
  font-style: italic;
}

/* POLITIQUE DE CONFIDENTIALITE */
.confidentiality {
  font-family: "Noto Sans", sans-serif;
  margin: 40px;
  font-size: 0.875rem;
}
.confidentiality a {
  text-decoration: none;
  color: #4e5862;
}
.confidentiality__header {
  text-align: center;
}
.confidentiality__header__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3d4450;
}
.confidentiality__header__site {
  font-weight: bold;
  margin-top: 20px;
}
.confidentiality__header__type {
  font-style: italic;
  margin-top: 10px;
}
.confidentiality__content {
  color: #242627;
}
.confidentiality__content__article__title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #4e5862;
  margin-top: 30px;
  margin-bottom: 10px;
}
.confidentiality__content__article__content p {
  margin: 25px;
}
.confidentiality__footer {
  text-align: end;
  margin-top: 40px;
  font-style: italic;
}

/* MODAL LOGIN */
/* VERSION MOBILE */
.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  top: 0;
}
.modal__content {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 320px;
  height: 350px;
  border-radius: 5px;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal__content__close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 25px;
  height: 25px;
  opacity: 0.7;
}
.modal__content__close:hover {
  opacity: 1;
  cursor: pointer;
}
.modal__content__close:before, .modal__content__close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 25px;
  width: 2.5px;
  background-color: #4e5862;
}
.modal__content__close:before {
  transform: rotate(45deg);
}
.modal__content__close:after {
  transform: rotate(-45deg);
}
.modal__content__email, .modal__content__password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal__content__email__label, .modal__content__password__label {
  color: #242627;
  font-size: 1rem;
}
.modal__content__email__input, .modal__content__password__input {
  width: 275px;
  height: 35px;
  border: 1px solid #3d4450;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-top: 12px;
}
.modal__content__password {
  margin-top: 30px;
}
.modal__content__button {
  background: linear-gradient(90deg, #242627 0%, #3D4450 50.67%, #384E65 99.99%, #4E5862 100%);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #fff;
  margin-top: 40px;
  width: 275px;
  height: 40px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}
.modal__content__button:hover {
  cursor: pointer;
  transform: scale(0.98);
}
.modal__content__lost-password {
  color: #3d4450;
  font-size: 0.875rem;
  margin-top: 20px;
}
.modal__content__lost-password:hover {
  color: #f73746;
  cursor: pointer;
}

@media screen and (max-height: 600px) {
  .modal__content {
    top: 50%;
  }
}
/* VERSION TABLETTE */
@media screen and (min-width: 768px) {
  .modal__content {
    width: 500px;
    height: 400px;
  }
  .modal__content__email__label, .modal__content__password__label {
    font-size: 1.25rem;
  }
  .modal__content__email__input, .modal__content__password__input {
    width: 400px;
    height: 45px;
  }
  .modal__content__button {
    width: 400px;
    height: 50px;
    font-size: 1.25rem;
  }
  .modal__content__lost-password {
    font-size: 1rem;
  }
}
/* VERSION L */
@media screen and (min-width: 1024px) {
  .modal__content {
    width: 550px;
    height: 450px;
  }
  .modal__content__email__label, .modal__content__password__label {
    font-size: 1.375rem;
  }
  .modal__content__email__input, .modal__content__password__input {
    width: 450px;
    height: 50px;
  }
  .modal__content__button {
    width: 450px;
    height: 55px;
    font-size: 1.375rem;
  }
  .modal__content__lost-password {
    font-size: 1.125rem;
  }
}
/* VERSION XL */
@media screen and (min-width: 1920px) {
  .modal__content {
    width: 800px;
    height: 500px;
  }
  .modal__content__email__label, .modal__content__password__label {
    font-size: 1.5rem;
  }
  .modal__content__email__input, .modal__content__password__input {
    width: 500px;
    height: 60px;
  }
  .modal__content__button {
    width: 500px;
    height: 65px;
    font-size: 1.5rem;
  }
  .modal__content__lost-password {
    font-size: 1.25rem;
  }
}
.main {
  min-width: 360px;
  min-height: 100vh;
  margin-top: 45%;
}

/*# sourceMappingURL=style.css.map */
