@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Noto+Serif:wght@700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  padding-top: 20px;
}
.navbar__burger {
  width: 35px;
  height: 25px;
  position: relative;
  cursor: pointer;
}
.navbar__burger__line {
  position: absolute;
  background-color: #fff;
  width: 30px;
  height: 3px;
  border-radius: 5px;
}
.navbar__burger__line:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.navbar__burger__line:nth-child(2) {
  width: 35px;
  top: 50%;
  transform: translateY(-50%);
}
.navbar__burger__line:last-child {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.navbar__burger__line.clicked:nth-child(1) {
  top: 11px;
  left: 0;
  transform: rotate(45deg);
  transition: ease-out 0.5s;
}
.navbar__burger__line.clicked:nth-child(2) {
  transform: scale(0);
  transition: ease-out 0.5s;
}
.navbar__burger__line.clicked:last-child {
  bottom: 11px;
  left: 0;
  transform: rotate(135deg);
  transition: ease-out 0.5s;
}
.navbar__burger__line.unclicked {
  transition: ease-out 0.5s;
}
.navbar__links {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  background: linear-gradient(90deg, #242627 0%, #3D4450 50.67%, #384E65 99.99%, #4E5862 100%);
  width: 100%;
  height: 301px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.navbar__links__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.navbar__links__link:hover > a, .navbar__links__link:hover > .navbar__links__link__icon {
  color: #f73746;
  transition: color ease-out 0.5s;
}
.navbar__links__link__icon {
  color: #fff;
}
.navbar__links__link a {
  color: #fff;
}
.navbar__links__link .active {
  color: #f73746;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navbar__burger {
    display: none;
  }
  .navbar__links {
    height: 100%;
    z-index: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .navbar__links::before, .navbar__links::after {
    content: "";
    width: 10%;
    height: 1px;
    background-color: rgba(211, 211, 211, 0.5);
  }
}
@media screen and (min-width: 1024px) {
  .navbar__links {
    font-size: 1.125rem;
    gap: 32px;
  }
  .navbar__links::before, .navbar__links::after {
    width: 12%;
  }
}
@media screen and (min-width: 1920px) {
  .navbar__links {
    font-size: 1.25rem;
    gap: 56px;
  }
  .navbar__links::before, .navbar__links::after {
    width: 17%;
  }
}
.header {
  position: relative;
  width: 100%;
  height: 248px;
  background: linear-gradient(90deg, #242627 0%, #3D4450 50.67%, #384E65 99.99%, #4E5862 100%);
}
.header__title {
  position: relative;
}
.header__title h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Noto Serif", serif;
  color: #fff;
  font-size: 2rem;
  padding-top: 32px;
  text-align: center;
}
.header__title h1 span {
  font-size: 1.75rem;
  margin-left: 10px;
}
.header__title--right-bar, .header__title--left-bar {
  position: absolute;
  width: 60px;
  height: 40px;
  top: 70%;
}
.header__title--right-bar {
  right: calc(50% - 123px);
}
.header__title--left-bar {
  left: calc(50% - 123px);
}
.header__chessboard {
  position: absolute;
  left: 50%;
  bottom: -60px;
  transform: translateX(-50%);
  width: 292px;
}

@media screen and (min-width: 768px) {
  .header {
    height: 316px;
  }
  .header__title h1 {
    font-size: 2.25rem;
    padding-top: 49px;
  }
  .header__title h1 span {
    font-size: 1.875rem;
  }
  .header__title--right-bar, .header__title--left-bar {
    width: 72px;
    height: 60px;
  }
  .header__title--right-bar {
    right: calc(50% - 145px);
  }
  .header__title--left-bar {
    left: calc(50% - 145px);
  }
  .header__chessboard {
    bottom: -75px;
    width: 363px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    height: 388px;
  }
  .header__title h1 {
    font-size: 3rem;
  }
  .header__title h1 span {
    font-size: 2.375rem;
  }
  .header__title--right-bar, .header__title--left-bar {
    width: 117px;
    height: 80px;
  }
  .header__title--right-bar {
    right: calc(50% - 205px);
  }
  .header__title--left-bar {
    left: calc(50% - 205px);
  }
  .header__chessboard {
    bottom: -100px;
    width: 501px;
  }
}
@media screen and (min-width: 1920px) {
  .header {
    height: 457px;
  }
  .header__title--right-bar, .header__title--left-bar {
    width: 150px;
    height: 100px;
  }
  .header__title--right-bar {
    right: calc(50% - 240px);
  }
  .header__title--left-bar {
    left: calc(50% - 240px);
  }
  .header__chessboard {
    bottom: -130px;
    width: 640px;
  }
}

/*# sourceMappingURL=style.css.map */
