@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Noto+Serif:wght@700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

/* VERSION MOBILE */
.navbar__burger, .navbar--scroll__burger {
  position: absolute;
  width: 35px;
  height: 25px;
  cursor: pointer;
  z-index: 1001;
  right: 15px;
  top: 15px;
}
.navbar__burger__line, .navbar--scroll__burger__line {
  position: absolute;
  background-color: #fff;
  width: 30px;
  height: 3px;
  border-radius: 5px;
}
.navbar__burger__line:nth-child(1), .navbar--scroll__burger__line:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.navbar__burger__line:nth-child(2), .navbar--scroll__burger__line:nth-child(2) {
  width: 35px;
  top: 50%;
  transform: translateY(-50%);
}
.navbar__burger__line:last-child, .navbar--scroll__burger__line:last-child {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.navbar__burger__line.clicked:nth-child(1), .navbar--scroll__burger__line.clicked:nth-child(1) {
  top: 11px;
  left: 0;
  transform: rotate(45deg);
  transition: ease-out 0.5s;
}
.navbar__burger__line.clicked:nth-child(2), .navbar--scroll__burger__line.clicked:nth-child(2) {
  transform: scale(0);
  transition: ease-out 0.5s;
}
.navbar__burger__line.clicked:last-child, .navbar--scroll__burger__line.clicked:last-child {
  bottom: 11px;
  left: 0;
  transform: rotate(135deg);
  transition: ease-out 0.5s;
}
.navbar__burger__line.unclicked, .navbar--scroll__burger__line.unclicked {
  transition: ease-out 0.5s;
}
.navbar__links, .navbar__links--scroll, .navbar--scroll__links, .navbar--scroll__links--scroll {
  position: absolute;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  background: linear-gradient(90deg, #242627 0%, #3D4450 50.67%, #384E65 99.99%, #4E5862 100%);
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  top: 0;
  left: 0;
  margin-bottom: -10px;
  z-index: 1000;
}
.navbar__links--site-name, .navbar__links--disappear-site-name, .navbar__links--scroll--site-name, .navbar__links--scroll--disappear-site-name, .navbar--scroll__links--site-name, .navbar--scroll__links--disappear-site-name, .navbar--scroll__links--scroll--site-name, .navbar--scroll__links--scroll--disappear-site-name {
  display: none;
}
.navbar__links__link, .navbar__links__link--scroll, .navbar__links--scroll__link, .navbar__links--scroll__link--scroll, .navbar--scroll__links__link, .navbar--scroll__links__link--scroll, .navbar--scroll__links--scroll__link, .navbar--scroll__links--scroll__link--scroll {
  gap: 5px;
  cursor: pointer;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar__links__link:hover > a, .navbar__links__link:hover > .navbar__links__link__icon, .navbar__links__link--scroll:hover > a, .navbar__links__link:hover > .navbar__links__link--scroll__icon, .navbar__links--scroll__link:hover > a, .navbar__links__link:hover > .navbar__links--scroll__link__icon, .navbar__links--scroll__link--scroll:hover > a, .navbar__links__link:hover > .navbar__links--scroll__link--scroll__icon, .navbar--scroll__links__link:hover > a, .navbar__links__link:hover > .navbar--scroll__links__link__icon, .navbar--scroll__links__link--scroll:hover > a, .navbar__links__link:hover > .navbar--scroll__links__link--scroll__icon, .navbar--scroll__links--scroll__link:hover > a, .navbar__links__link:hover > .navbar--scroll__links--scroll__link__icon, .navbar--scroll__links--scroll__link--scroll:hover > a, .navbar__links__link:hover > .navbar--scroll__links--scroll__link--scroll__icon, .navbar__links__link--scroll:hover > .navbar__links__link__icon, .navbar__links__link--scroll:hover > .navbar__links__link--scroll__icon, .navbar__links__link--scroll:hover > .navbar__links--scroll__link__icon, .navbar__links__link--scroll:hover > .navbar__links--scroll__link--scroll__icon, .navbar__links__link--scroll:hover > .navbar--scroll__links__link__icon, .navbar__links__link--scroll:hover > .navbar--scroll__links__link--scroll__icon, .navbar__links__link--scroll:hover > .navbar--scroll__links--scroll__link__icon, .navbar__links__link--scroll:hover > .navbar--scroll__links--scroll__link--scroll__icon, .navbar__links--scroll__link:hover > .navbar__links__link__icon, .navbar__links--scroll__link:hover > .navbar__links__link--scroll__icon, .navbar__links--scroll__link:hover > .navbar__links--scroll__link__icon, .navbar__links--scroll__link:hover > .navbar__links--scroll__link--scroll__icon, .navbar__links--scroll__link:hover > .navbar--scroll__links__link__icon, .navbar__links--scroll__link:hover > .navbar--scroll__links__link--scroll__icon, .navbar__links--scroll__link:hover > .navbar--scroll__links--scroll__link__icon, .navbar__links--scroll__link:hover > .navbar--scroll__links--scroll__link--scroll__icon, .navbar__links--scroll__link--scroll:hover > .navbar__links__link__icon, .navbar__links--scroll__link--scroll:hover > .navbar__links__link--scroll__icon, .navbar__links--scroll__link--scroll:hover > .navbar__links--scroll__link__icon, .navbar__links--scroll__link--scroll:hover > .navbar__links--scroll__link--scroll__icon, .navbar__links--scroll__link--scroll:hover > .navbar--scroll__links__link__icon, .navbar__links--scroll__link--scroll:hover > .navbar--scroll__links__link--scroll__icon, .navbar__links--scroll__link--scroll:hover > .navbar--scroll__links--scroll__link__icon, .navbar__links--scroll__link--scroll:hover > .navbar--scroll__links--scroll__link--scroll__icon, .navbar--scroll__links__link:hover > .navbar__links__link__icon, .navbar--scroll__links__link:hover > .navbar__links__link--scroll__icon, .navbar--scroll__links__link:hover > .navbar__links--scroll__link__icon, .navbar--scroll__links__link:hover > .navbar__links--scroll__link--scroll__icon, .navbar--scroll__links__link:hover > .navbar--scroll__links__link__icon, .navbar--scroll__links__link:hover > .navbar--scroll__links__link--scroll__icon, .navbar--scroll__links__link:hover > .navbar--scroll__links--scroll__link__icon, .navbar--scroll__links__link:hover > .navbar--scroll__links--scroll__link--scroll__icon, .navbar--scroll__links__link--scroll:hover > .navbar__links__link__icon, .navbar--scroll__links__link--scroll:hover > .navbar__links__link--scroll__icon, .navbar--scroll__links__link--scroll:hover > .navbar__links--scroll__link__icon, .navbar--scroll__links__link--scroll:hover > .navbar__links--scroll__link--scroll__icon, .navbar--scroll__links__link--scroll:hover > .navbar--scroll__links__link__icon, .navbar--scroll__links__link--scroll:hover > .navbar--scroll__links__link--scroll__icon, .navbar--scroll__links__link--scroll:hover > .navbar--scroll__links--scroll__link__icon, .navbar--scroll__links__link--scroll:hover > .navbar--scroll__links--scroll__link--scroll__icon, .navbar--scroll__links--scroll__link:hover > .navbar__links__link__icon, .navbar--scroll__links--scroll__link:hover > .navbar__links__link--scroll__icon, .navbar--scroll__links--scroll__link:hover > .navbar__links--scroll__link__icon, .navbar--scroll__links--scroll__link:hover > .navbar__links--scroll__link--scroll__icon, .navbar--scroll__links--scroll__link:hover > .navbar--scroll__links__link__icon, .navbar--scroll__links--scroll__link:hover > .navbar--scroll__links__link--scroll__icon, .navbar--scroll__links--scroll__link:hover > .navbar--scroll__links--scroll__link__icon, .navbar--scroll__links--scroll__link:hover > .navbar--scroll__links--scroll__link--scroll__icon, .navbar--scroll__links--scroll__link--scroll:hover > .navbar__links__link__icon, .navbar--scroll__links--scroll__link--scroll:hover > .navbar__links__link--scroll__icon, .navbar--scroll__links--scroll__link--scroll:hover > .navbar__links--scroll__link__icon, .navbar--scroll__links--scroll__link--scroll:hover > .navbar__links--scroll__link--scroll__icon, .navbar--scroll__links--scroll__link--scroll:hover > .navbar--scroll__links__link__icon, .navbar--scroll__links--scroll__link--scroll:hover > .navbar--scroll__links__link--scroll__icon, .navbar--scroll__links--scroll__link--scroll:hover > .navbar--scroll__links--scroll__link__icon, .navbar--scroll__links--scroll__link--scroll:hover > .navbar--scroll__links--scroll__link--scroll__icon {
  color: #f73746;
  transition: color ease-out 0.5s;
}
.navbar__links__link__icon, .navbar__links__link__icon--scroll, .navbar__links__link--scroll__icon, .navbar__links__link--scroll__icon--scroll, .navbar__links--scroll__link__icon, .navbar__links--scroll__link__icon--scroll, .navbar__links--scroll__link--scroll__icon, .navbar__links--scroll__link--scroll__icon--scroll, .navbar--scroll__links__link__icon, .navbar--scroll__links__link__icon--scroll, .navbar--scroll__links__link--scroll__icon, .navbar--scroll__links__link--scroll__icon--scroll, .navbar--scroll__links--scroll__link__icon, .navbar--scroll__links--scroll__link__icon--scroll, .navbar--scroll__links--scroll__link--scroll__icon, .navbar--scroll__links--scroll__link--scroll__icon--scroll {
  display: none;
}
.navbar__links__link a, .navbar__links__link--scroll a, .navbar__links--scroll__link a, .navbar__links--scroll__link--scroll a, .navbar--scroll__links__link a, .navbar--scroll__links__link--scroll a, .navbar--scroll__links--scroll__link a, .navbar--scroll__links--scroll__link--scroll a {
  color: #fff;
}
.navbar__links__link .active, .navbar__links__link--scroll .active, .navbar__links--scroll__link .active, .navbar__links--scroll__link--scroll .active, .navbar--scroll__links__link .active, .navbar--scroll__links__link--scroll .active, .navbar--scroll__links--scroll__link .active, .navbar--scroll__links--scroll__link--scroll .active {
  color: #f73746;
}

@media screen and (min-width: 500px) {
  .navbar__burger, .navbar--scroll__burger {
    right: 25px;
    top: 20px;
  }
}
/* VERSION TABLETTE */
@media screen and (min-width: 768px) {
  .navbar {
    width: 90%;
    margin: 0 auto;
  }
  .navbar--scroll {
    flex: none;
  }
  .navbar__burger {
    display: none;
  }
  .navbar__links {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: auto;
    background: none;
  }
  .navbar__links::before, .navbar__links::after {
    content: "";
    width: 10%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .navbar__links--scroll {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 15px;
    margin: -3px 30px 0 0;
  }
  .navbar__links--site-name {
    display: block;
    font-size: 1.125rem;
    color: #fff;
    font-weight: bold;
    font-family: "Noto Serif", serif;
    margin-right: 20px;
  }
  .navbar__links--site-name__span {
    color: #f73746;
    font-size: 0.875rem;
    text-align: end;
    margin-top: -8px;
  }
  .navbar__links__link {
    font-size: 0.75rem;
  }
  .navbar__links__link__icon {
    display: block;
    color: #fff;
    margin-left: 20px;
  }
  .navbar__links__link__icon:hover {
    cursor: pointer;
  }
  .navbar__links__link .active {
    border-top: 3.5px solid #f73746;
    margin-bottom: 10px;
    padding-top: 10px;
  }
  .navbar__links__link--scroll {
    font-size: 0.875rem;
  }
}
/* VERSION L */
@media screen and (min-width: 1024px) {
  .navbar__links {
    gap: 32px;
  }
  .navbar__links::before, .navbar__links::after {
    width: 12%;
  }
  .navbar__links--scroll {
    margin-right: 50px;
  }
  .navbar__links--site-name {
    font-size: 1.25rem;
    margin-right: 40px;
  }
  .navbar__links--site-name__span {
    font-size: 1rem;
    margin-top: -9px;
  }
  .navbar__links__link {
    font-size: 0.875rem;
  }
  .navbar__links__link--scroll {
    font-size: 1rem;
  }
  .navbar__links__icon {
    margin-left: 40px;
  }
  .navbar__links__icon .active::before {
    width: 80px;
  }
}
/* VERSION XL */
@media screen and (min-width: 1920px) {
  .navbar__links {
    gap: 56px;
  }
  .navbar__links::before, .navbar__links::after {
    width: 17%;
  }
  .navbar__links--scroll {
    margin-right: 100px;
  }
  .navbar__links--site-name {
    display: none;
  }
  .navbar__links__link {
    font-size: 1.125rem;
  }
  .navbar__links__link--scroll {
    font-size: 1.25rem;
  }
}
/* VERSION MOBILE */
.chessboard, .chessboard-disappear {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  bottom: -40px;
}

.chessboard {
  opacity: 1;
  transition: opacity ease-in-out 0.5s 0.2s;
}

.chessboard-disappear {
  opacity: 0;
  transition: opacity ease-in-out 0.5s;
}

@media screen and (min-width: 500px) {
  .chessboard, .chessboard-disappear {
    width: 280px;
    bottom: -50px;
  }
}
/* VERSION TABLETTE */
@media screen and (min-width: 768px) {
  .chessboard, .chessboard-disappear {
    bottom: -60px;
    width: 350px;
  }
}
/* VERSION L */
@media screen and (min-width: 1024px) {
  .chessboard, .chessboard-disappear {
    bottom: -68px;
    width: 400px;
  }
}
/* VERSION XL */
@media screen and (min-width: 1920px) {
  .chessboard, .chessboard-disappear {
    bottom: -80px;
    width: 450px;
  }
}
/* VERSION MOBILE */
.logo, .logo--scroll {
  position: absolute;
  width: 50px;
  left: 10px;
  top: 10px;
}

@media screen and (min-width: 500px) {
  .logo, .logo--scroll {
    width: 60px;
    left: 20px;
  }
}
/* VERSION TABLETTE */
@media screen and (min-width: 768px) {
  .logo {
    display: none;
  }
  .logo--scroll {
    position: relative;
    width: 80px;
    left: 30px;
    top: 12px;
  }
}
/* VERSION L */
@media screen and (min-width: 1024px) {
  .logo--scroll {
    width: 100px;
    left: 50px;
  }
}
/* VERSION XL */
@media screen and (min-width: 1920px) {
  .logo {
    display: block;
  }
  .logo--scroll {
    width: 120px;
    left: 100px;
  }
}
/* HEADER */
/* VERSION MOBILE */
.header {
  position: fixed;
  top: 0;
  background: linear-gradient(90deg, #242627 0%, #3D4450 50.67%, #384E65 99.99%, #4E5862 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.normal-size {
  height: 110px;
  transition: height ease-out 0.5s;
}

.resize {
  height: 60px;
  transition: height ease-out 0.5s;
}

@media screen and (min-width: 500px) {
  .normal-size {
    height: 130px;
  }
  .resize {
    height: 70px;
  }
}
/* VERSION TABLETTE */
@media screen and (min-width: 768px) {
  .header {
    display: inline;
  }
  .normal-size {
    height: 200px;
  }
  .resize {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
/* VERSION L */
@media screen and (min-width: 1024px) {
  .normal-size {
    height: 230px;
  }
  .resize {
    height: 110px;
  }
}
/* VERSION XL */
@media screen and (min-width: 1920px) {
  .normal-size {
    height: 250px;
  }
  .resize {
    height: 130px;
  }
}
/* MODAL LOGIN */
/* VERSION MOBILE */
.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  top: 0;
}
.modal__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 320px;
  height: 350px;
  border-radius: 5px;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal__content__close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 25px;
  height: 25px;
  opacity: 0.7;
}
.modal__content__close:hover {
  opacity: 1;
  cursor: pointer;
}
.modal__content__close:before, .modal__content__close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 25px;
  width: 2.5px;
  background-color: #4e5862;
}
.modal__content__close:before {
  transform: rotate(45deg);
}
.modal__content__close:after {
  transform: rotate(-45deg);
}
.modal__content__email, .modal__content__password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal__content__email__label, .modal__content__password__label {
  color: #242627;
  font-size: 1rem;
}
.modal__content__email__input, .modal__content__password__input {
  width: 275px;
  height: 35px;
  border: 1px solid #3d4450;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-top: 12px;
}
.modal__content__password {
  margin-top: 30px;
}
.modal__content__button {
  background: linear-gradient(90deg, #242627 0%, #3D4450 50.67%, #384E65 99.99%, #4E5862 100%);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #fff;
  margin-top: 40px;
  width: 275px;
  height: 40px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}
.modal__content__button:hover {
  cursor: pointer;
  transform: scale(0.98);
}
.modal__content__lost-password {
  color: #3d4450;
  font-size: 0.875rem;
  margin-top: 20px;
}
.modal__content__lost-password:hover {
  color: #f73746;
  cursor: pointer;
}

/* VERSION TABLETTE */
@media screen and (min-width: 768px) {
  .modal__content {
    width: 500px;
    height: 400px;
  }
  .modal__content__email__label, .modal__content__password__label {
    font-size: 1.25rem;
  }
  .modal__content__email__input, .modal__content__password__input {
    width: 400px;
    height: 45px;
  }
  .modal__content__button {
    width: 400px;
    height: 50px;
    font-size: 1.25rem;
  }
  .modal__content__lost-password {
    font-size: 1rem;
  }
}
/* VERSION L */
@media screen and (min-width: 1024px) {
  .modal__content {
    width: 550px;
    height: 450px;
  }
  .modal__content__email__label, .modal__content__password__label {
    font-size: 1.375rem;
  }
  .modal__content__email__input, .modal__content__password__input {
    width: 450px;
    height: 50px;
  }
  .modal__content__button {
    width: 450px;
    height: 55px;
    font-size: 1.375rem;
  }
  .modal__content__lost-password {
    font-size: 1.125rem;
  }
}
/* VERSION XL */
@media screen and (min-width: 1920px) {
  .modal__content {
    width: 800px;
    height: 500px;
  }
  .modal__content__email__label, .modal__content__password__label {
    font-size: 1.5rem;
  }
  .modal__content__email__input, .modal__content__password__input {
    width: 500px;
    height: 60px;
  }
  .modal__content__button {
    width: 500px;
    height: 65px;
    font-size: 1.5rem;
  }
  .modal__content__lost-password {
    font-size: 1.25rem;
  }
}
.main {
  min-width: 360px;
  min-height: 100vh;
  margin-top: 300px;
}

/*# sourceMappingURL=style.css.map */
