@import '../utilities/_mixin'
@import '../utilities/_variables'
@import '../components/_form'

// VERSION MOBILE
.contact__title
    font-size: $fs-24
    font-family: $font-primary
    text-transform: uppercase
    @include flex(row, center, center)
    gap: 20px
    margin: 35px 0

    &::before, &::after
        content: ''
        display: inline-block
        width: 30%
        height: 1px
        background-color: $black
        opacity: .5

// VERSION TABLETTE
@media screen and (min-width:768px)
    .contact__title
        font-size: $fs-26
        justify-content: space-evenly

// VERSION L
@media screen and (min-width:1024px)
    .contact__title
        margin-bottom: 60px
        font-size: $fs-32

// VERSION XL
@media screen and (min-width:1920px)
    .contact__title
        font-size: $fs-40
