@import '../../../utilities/_mixin.sass'
@import '../../../utilities/_variables.sass'

// VERSION MOBILE 
.addRegulation
    @include flex(column , center , center)
    margin-bottom: 30px
    width: 100%

    &__title, &__link
        @include flex(column ,center , center)
        font-family: $font-primary
        font-size: $fs-14
        font-weight: bold
        margin-bottom: 25px
        width: 100%

        label
            margin-bottom: 15px

        input
            width: 78%
            max-width: 450px
            border-radius: 5px
            border: 1px solid $black
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25)
            height: 40px
            text-indent: 10px

    &__btn
        @include flex(row , center , center)
        width: 100%

        button
            background: linear-gradient(90deg, #242627 -0.14%, #3D4450 47.26%, #4E5862 99.86%)
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25)
            border-radius: 5px
            color: $white
            width: 28%
            max-width: 300px
            height: 30px
            font-size: $fs-14
            font-family: $font-primary

// VERSION TABLETTE
@media screen and (min-width:768px)
    .addRegulation

        &__title, &__link, button
            font-size: $fs-18

// VERSION L
@media screen and (min-width:1024px)
    .addRegulation
        margin-bottom: 50px

        &__title, &__link
            margin-bottom: 30px

        &__title, &__link, button
            font-size: $fs-20

        label
            margin-bottom: 20px

        input
            width: 79%
            max-width: 600px

        button
            height: 40px

// VERSION XL
@media screen and (min-width:1920px)
    .addRegulation
        margin-bottom: 90px

        &__title, &__link
            margin-bottom: 40px

        &__title, &__link, button
            font-size: $fs-24

        label
            margin-bottom: 20px

        input
            width: 70%
            max-width: 600px

        button
            height: 50px