@import '../../utilities/_variables'
@import '../../utilities/_mixin'

/* FOOTER SOCIALS */
/* VERSION MOBILE */
.footer__socials
    width: 80px

    &__text
        font-size: $fs-12
        text-align: center

    hr
        border: 1px solid $white
        width: 70px
        margin-top: 7px

    &__icons a
        color: $white
        font-size: $fs-18
        margin-left: 7px

        &:hover
            color: $red

/* VERSION TABLETTE */
@media screen and (min-width: 768px)
    .footer__socials
        margin: 0
        width: 91px

        &__text
            font-size: $fs-14

        &__icons a
            font-size: $fs-22

/* VERSION L */
@media screen and (min-width: 1024px)
    .footer__socials
        width: 140px

        &__text
            font-size: $fs-18

        hr
            width: 90px

        &__icons a
            font-size: $fs-28
            margin-left: 12px

/* VERSION XL */
@media screen and (min-width: 1920px)
    .footer__socials
        width: 140px

        &__text
            font-size: $fs-20

        hr
            width: 110px

        &__icons a
            font-size: $fs-32