@import '../../utilities/_variables'
@import '../../utilities/_mixin'

/* MENTION LEGALES */
.legal-notice
    font-family: $font-primary
    margin: 40px
    font-size: $fs-14

    a
        text-decoration: none
        color: $grey

    &__header
        text-align: center

        &__title
            font-size: $fs-24
            font-weight: bold
            color: $grey-blue

        &__subtitle
            color: $black

    &__content
        color: $black

        &__intro
            margin-top: 30px

            p
                margin-top: 10px

        &__article__title
            font-size: $fs-20
            font-weight: bold
            color: $grey
            margin-top: 30px
            margin-bottom: 10px

    &__footer
        text-align: end
        margin-top: 30px
        font-style: italic
