@import '../utilities/_mixin.sass'
@import '../utilities/_variables.sass'

/* VERSION MOBILE */
.adminNav
    @include articles()
    border-radius: 0 0 10px 10px
    width: 300px
    border-top: 1.5px solid $red
    position: fixed
    top: 60px
    left: 50%
    transform: translateX(-50%)

    &:hover
        cursor: pointer

    &[open] > summary .adminNav__title__leftChevron, &[open] > summary .adminNav__title__rightChevron
        transform: rotate(180deg)

    &__title
        @include flex(row, space-around, center)

    &__links
        @include flex(column, center, center)

        a
            color: $white
            padding: 5px
            font-family: $font-primary
            font-size: $fs-14
            font-weight: bold

            &:hover
                color: $red

        .active
            color: $red

@media screen and (min-width: 500px)
    .adminNav
        top: 70px
        width: 450px

/* VERSION TABLET */
@media screen and (min-width: 768px)
    .adminNav
        top: 90px
        width: 700px
        min-height: 20px

        &__links
            @include flex(row, space-around, center)

            a
                font-size: $fs-14

/* VERSION L */
@media screen and (min-width: 1024px)
    .adminNav
        top: 110px
        width: 900px
        min-height: 25px

        &__links a
            font-size: $fs-16

/* VERSION XL */
@media screen and (min-width: 1920px)
    .adminNav
        top: 130px
        width: 1300px
        min-height: 30px
        border-top-width: 2px

        &__links a
            font-size: $fs-20
