@import '../utilities/_variables'
@import '../utilities/_mixin'

/* FOOTER RULES */
/* VERSION MOBILE */
.footer_rules
    margin: 10px 0 0 -20px

    hr
        border: 1px solid $white
        width: 60px

    &_text
        width: 88px
        font-size: $fs-11
        padding: 3px 0
        @include flex(column, normal, center)

        & a
            text-decoration: none
            color: $white
            cursor: pointer

            &:hover
                color: $red

@media screen and (min-width: 460px)
    .footer_rules
        hr
            border: 1px solid $white
            width: 70px

        &_text
            width: 98px
            font-size: $fs-12
            padding: 5px 0
            @include flex(column, normal, center)

/* VERSION TABLETTE */
@media screen and (min-width: 768px)
    .footer_rules
        margin: 0

        & a
            cursor: pointer

            &:hover
                color: $red

/* VERSION L */
@media screen and (min-width: 1024px)
    .footer_rules

        hr
            width: 90px

        &_text
            width: 140px
            font-size: $fs-16

/* VERSION XL */
@media screen and (min-width: 1920px)
    .footer_rules

        hr
            width: 110px

        &_text
            width: 160px
            font-size: $fs-20