@import '../utilities/_variables'
@import '../utilities/_mixin'

/* FOOTER SOCIALS */
/* VERSION MOBILE */
.footer_socials
    margin: 10px 0 0 20px
    width: 78px

    &_text
        font-size: $fs-12
        text-align: center

    hr
        border: 1px solid $white
        width: 60px
        margin-top: 7px

    &_icons
        align-content: center
        margin-top: 7px

        img
            width: 17px
            margin: 0 4px

@media screen and (min-width: 460px)
    .footer_socials
        width: 91px

        &_text
            font-size: $fs-14
            text-align: center

        hr
            border: 1px solid $white
            width: 70px
            margin-top: 10px

        &_icons
            margin-top: 10px

            img
                width: 20px

/* VERSION TABLETTE */
@media screen and (min-width: 768px)
    .footer_socials
        margin: 0
        width: 91px

        &_text
            font-size: $fs-14

        &_icons img
            width: 22px

/* VERSION L */
@media screen and (min-width: 1024px)