@import '../utilities/_variables'
@import '../utilities/_mixin'
@import 'footerCopyright'
@import 'footerLinks'
@import 'footerNav'
@import 'footerRules'
@import 'footerSocials'

/* FOOTER */
/* VERSION MOBILE */
.footer
    position: absolute
    background: $bg-gradient
    color: $white
    font-family: $font-primary
    height: 170px
    left: 0
    width: 100%
    min-width: 360px
    margin-top: 10vh

    &_top
        margin: 15px 56px -30px 56px

    &_center
        @include flex(row, space-between, center)

    &_bottom
        margin-top: -10px

    &_line_left
        margin-left: 20px

    &_line_right
        margin-right: 20px

    .footer_line_left, .footer_line_right
        margin-top: 18px

/* VERSION TABLETTE */
@media screen and (min-width: 768px)
    .footer
        &_center
            @include flex(row, space-between, center)
            margin: 20px 50px 0 50px

            &_left
                @include flex(row, space-between, center)
                width: 210px

        &_bottom
            @include flex(row, space-between, center)
            margin-top: -120px

        .footer_line_left, .footer_line_right
            width: 286px
            height: 117px

/* VERSION L */
@media screen and (min-width: 1024px)
    .footer
        height: 200px

        .footer_line_left, .footer_line_right
            width: 390px
            height: 160px

/* VERSION XL */
@media screen and (min-width: 1920px)
    .footer
        height: 250px

        .footer_line_left, .footer_line_right
            width: 650px
