@import '../utilities/_variables'
@import '../utilities/_mixin'

/* FOOTER LINKS */
/* VERSION MOBILE */
.footer_links
    @include flex(row, space-between, center)

    img
        height: 30px
        cursor: pointer

    &_ffe
        width: 18px

    &_fide
        width: 35px

/* VERSION TABLETTE */
@media screen and (min-width: 768px)
    .footer_links
        justify-content: normal
        margin: 0
        width: 200px
        flex-wrap: wrap

        img
            height: 35px
            margin-left: 20px

        &_ffe
            width: 20px
            margin-left: 0

        &_fide
            width: 40px

/* VERSION L */
@media screen and (min-width: 1024px)