@import '../utilities/_variables'
@import '../utilities/_mixin'

/* FOOTER COPYRIGHT */
/* VERSION MOBILE */
.footer_copyright
    width: 120px
    margin: auto
    @include flex(row, normal, center)

    .footer_copyright_icon
        height: 15px

    .footer_copyright_text
        font-size: $fs-12
        margin-left: 2px
