@import '../utilities/_variables'
@import '../utilities/_mixin'
@import '../components/Footer/_footerCopyright'
@import '../components/Footer/_footerLinks'
@import '../components/Footer/_footerNav'
@import '../components/Footer/_footerRules'
@import '../components/Footer/_footerSocials'
@import '../components/Footer/_legalNotice'
@import '../components/Footer/_confidentiality'

/* FOOTER */
/* VERSION MOBILE */
.footer
    background: $bg-gradient
    color: $white
    font-family: $font-primary
    margin-top: 10vh
    position: absolute
    height: 170px
    left: 0
    width: 100%
    min-width: 360px
    z-index: -2

    &__center__left
        @include flex(row, space-around, center)
        width: 100%
        margin-top: 70px

    &__bottom
        @include flex(row, center, center)
        margin-top: 10px

/* VERSION TABLETTE */
@media screen and (min-width: 768px)
    .footer
        height: 150px

        &__center
            @include flex(row, space-between, center)
            margin: 25px 50px 0 50px

            &__left
                @include flex(row, space-between, center)
                width: 300px
                border-bottom: 1.5px solid $white
                border-left: 1.5px solid $white
                padding: 0 0 25px 20px
                margin: 0 0 -30px -30px

        &__bottom
            margin-top: -5px

/* VERSION L */
@media screen and (min-width: 1024px)
    .footer
        height: 170px

        &__center
            margin: 40px 70px 0 70px

            &__left
                width: 450px
                padding-left: 40px
                margin-left: -50px


        &__bottom
            margin-top: 5px

/* VERSION XL */
@media screen and (min-width: 1920px)
    .footer
        height: 220px

        &__center
            margin: 40px 180px 0 180px

            &__left
                width: 600px
                padding: 0 0 40px 150px
                margin: 0 0 -30px -150px
        
        &__bottom
            margin-top: -15px
