@import '../utilities/_variables'
@import '../utilities/_mixin'

/* FOOTER NAV */
/* VERSION MOBILE */
.footer__nav
    display: none

/* VERSION TABLETTE */
@media screen and (min-width: 768px)
    .footer__nav
        display: block
        width: 230px

        &__title
            display: none

        &__links
            @include flex(column, center, center)

            & a, p
                font-family: $font-primary
                text-decoration: none
                color: $white
                padding: 1px 0
                font-size: $fs-14
                font-weight: bold
                cursor: pointer

                &.active, &:hover
                    color: $red

/* VERSION L */
@media screen and (min-width: 1024px)
    .footer__nav
        width: 300px

        &__links
            height: 80px
            @include flex(row, space-around, center)
            flex-wrap: wrap

            & a, p
                font-size: $fs-16

/* VERSION XL */
@media screen and (min-width: 1920px)
    .footer__nav
        width: 500px
        height: 100px

        &__title
            @include flex(row, center, center)
            margin: auto
            font-weight: bold
            font-size: $fs-22
            text-decoration: underline

        & a, p
            font-size: $fs-20
