@import '../utilities/_variables'
@import '../utilities/_mixin'

/* FOOTER RULES */
/* VERSION MOBILE */
.footer_rules
    height: 44px
    width: 98px

    hr
        border: 1px solid $white
        width: 70px

    .footer_rules_text
        font-size: $fs-12
        padding: 6px 0
        @include flex(column, normal, center)

        .footer_rules_text_legal-notice a,
        .footer_rules_text_confidentiality a
            text-decoration: none
            color: $white
            cursor: pointer

/* VERSION TABLETTE */
@media screen and (min-width: 768px)
