@import '../utilities/variables'
@import '../utilities/mixin'
@import 'headerNav'
@import 'headerTitle'

/* HEADER */
/* VERSION MOBILE */
.header
    position: fixed
    top: 0
    width: 100%
    background: $bg-gradient

.normal-size
    height: 220px
    transition: height ease-out .5s

.resize
    height: 110px
    transition: height ease-out .5s

/* VERSION TABLETTE */
@media screen and (min-width: 768px)
    .normal-size
        height: 200px
    
    .resize
        height: 90px

/* VERSION L */
@media screen and (min-width: 1024px)
    .normal-size
        height: 250px
    
    .resize
        height: 110px

/* VERSION XL */
@media screen and (min-width: 1920px)
    .normal-size
        height: 280px
    
    .resize
        height: 130px