@import '../utilities/variables'
@import '../utilities/mixin'

/* VERSION MOBILE */
.logo, .logo--scroll
    position: absolute
    width: 50px
    left: 10px
    top: 5px

@media screen and (min-width: 500px)
    .logo, .logo--scroll
        width: 60px
        left: 20px

/* VERSION TABLETTE */
@media screen and (min-width: 768px)
    .logo
        display: none

        &--scroll
            position: relative
            width: 75px
            left: 30px

/* VERSION L */
@media screen and (min-width: 1024px)
    .logo--scroll
        width: 85px
        left: 50px

/* VERSION XL */
@media screen and (min-width: 1920px)
    .logo
        display: block
        position: relative

    .logo, .logo--scroll
        width: 110px
        left: 100px
    
    .logo--scroll
        top: 16px