@import '../utilities/variables'
@import '../utilities/mixin'
@import 'headerNav'
@import 'headerTitle'

/* HEADER */
/* VERSION MOBILE */
.header
    position: fixed
    top: 0
    width: 100%
    background: $bg-gradient

.normal-size
    height: 230px
    transition: height ease-out .5s

.resize
    height: 130px
    transition: height ease-out .5s

/* VERSION TABLETTE */
@media screen and (min-width: 768px)
    .normal-size
        height: 210px
    
    .resize
        height: 100px

/* VERSION L */
@media screen and (min-width: 1024px)
    .normal-size
        height: 270px
    
    .resize
        height: 100px

/* VERSION XL */
@media screen and (min-width: 1920px)
    .normal-size
        height: 330px
    
    .resize
        height: 100px