@import '../utilities/_mixin.sass'
@import '../utilities/_variables.sass'

// VERSION MOBILE
.newsOpenArticle
    display: flex
    flex-direction: column
    background: linear-gradient(90deg, #242627 -0.14%, #3D4450 47.26%, #4E5862 99.86%)
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25)
    border-radius: 5px
    width: 83%
    margin-bottom: 15px

    &__title
        display: flex
        position: relative

        &__lineLeft, &__lineRight
            width: 70px
            position: absolute
            bottom: 0
            margin-bottom: 0

        &__lineLeft
            left: 15px

        &__lineRight
            right: 15px

        h4
            margin: auto
            font-family: $font-primary
            font-size: $fs-14
            color: $white
            padding: 10px

    &__description
        display: flex

        p
            text-align: start
            font-family: $font-primary
            font-size: $fs-14
            color: $white
            padding: 10px
            width: 100%

    &__info
        display: flex
        flex-direction: column
        align-items: center
        position: relative

        &__line
            display: flex
            justify-content: center
            width: 100%

            &__center
                width: 95%
                margin: 0 10px 0 10px

        &__bottom
            display: flex
            flex-direction: row
            justify-content: space-between
            width: 100%

            p
                font-family: $font-primary
                font-size: $fs-14
                color: $white
                padding: 10px

// VERSION TABLETTE
@media screen and (min-width:768px)
    .newsOpenArticle
        width: 65%

        &__title
            display: flex
            align-items: center

            &__lineLeft, &__lineRight
                position: static
                height: 0px
                margin-top: 0

            &__lineRight
                margin-right: 20px

            &__lineLeft
                margin-left: 20px

// VERSION L
@media screen and (min-width:1024px)
    .newsOpenArticle
        display: flex
        width: 80%

        &__title

            &__lineLeft, &__lineRight
                width: 110px

            h4
                font-size: $fs-18
                padding: 20px

        &__description

            p

                font-size: $fs-16
                padding: 0 20px 20px 20px

        &__info

            p
                font-size: $fs-18
                padding: 20px 20px 20px 20px

// VERSION XL
@media screen and (min-width:1920px)
    .newsOpenArticle
        display: flex
        width: 80%

        &__title

            &__lineLeft, &__lineRight
                width: 200px

            &__lineRight
                margin-right: 200px

            &__lineLeft
                margin-left: 200px

            h4
                font-size: $fs-24

        &__description

            p

                font-size: $fs-20

        &__info

            p
                font-size: $fs-20