@import '../utilities/_mixin.sass'
@import '../utilities/_variables.sass'

/* VERSION MOBILE */
.regulation
    @include flex(column, center , center)
    font-family: $font-primary

    &__title
        font-size: $fs-24
        text-transform: uppercase
        @include flex(row, space-evenly, center)
        gap: 20px
        margin-top: 50px
        margin-bottom: 35px
        width: 100%

        &::before, &::after
            content: ''
            display: inline-block
            width: 30%
            height: 1px
            background-color: $black
            opacity: .5

    &__list
        @include flex(column, center, center)
        gap: 15px

/* VERSION TABLETTE */
@media screen and (min-width: 768px)
    .regulation

        &__title
            font-size: $fs-26

        &__list
            width: 100%
            @include flex(row, center, center)
            flex-wrap: wrap
            gap: 15px

/* VERSION L */
@media screen and (min-width: 1024px)
    .regulation
        &__title
            margin-top: 80px
            margin-bottom: 60px
            font-size: $fs-32

        &__list
            flex-direction: column

/* VERSION XL */
@media screen and (min-width: 1920px)
    .regulation

        &__title
            font-size: $fs-40

        &__list
            flex-direction: row
            flex-wrap: wrap
